extends email-layout

block content
  h2 Сброс пароля
  p Вы запросили сброс пароля. Щелкните кнопку ниже для сброса пароля. Ссылка действительна один час.
  +button(resetURL, 'Сбросить пароль →')
  p If you can't click the above button please visit #{resetURL}
  p Если вы не можете щелкнуть кнопку, то перейдите по #{resetURL}
  br
  p Если вы не запрашивали сброс пароля, то не проигнорируйте это сообщение.
