.nav {
  display: flex;
  max-height: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background: $local;
  &__section {
    display: flex;
    &--search {
      flex: 1 1 auto;
      background-color: #c3c3c3;
    }
  }
  &__item {
    display: flex;
  }
  &__link {
    background: $local;
    color: $kdark;
    border-right: 1px solid $kdark;
    text-transform: uppercase;
    padding: 1.2rem 2rem 1rem 2rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    border-bottom: 5px solid transparent;
    font-family: 'Tenor sans';
    font-weight: 600;
    svg {
      width: 40px;
      transition: all 0.2s;
      fill: $kdark;
      margin-bottom: 1rem;
      stroke-width: 10;
    }
    &:hover,
    &--active {
      border-bottom-color: rgba(0, 0, 0, 0.1);
      border-right-color: rgba(0, 0, 0, 0.1);
      svg {
        transform: scale(1.2);
      }
      background: linear-gradient(
          90deg,
          #4fb3ec 0%,
          #6ab6c7 20%,
          #78c479 60%,
          #e5772e 85%,
          #e487ad 95%
        )
        fixed;
      // background: none;
    }
    &--logo {
      &:hover {
        svg {
          transform: none;
        }
      }
      svg {
        width: 200px;
        margin: 0;
      }
    }
  }
}
@media all and (max-width: 1200px) {
  .nav {
    &__link {
      padding-left: 1rem;
      padding-right: 1rem;
      svg {
        width: 30px;
      }
      &--logo {
        svg {
          width: 100px;
        }
      }
    }
  }
}
@media all and (max-width: 900px) {
  .nav {
    flex-wrap: wrap;
    &__section {
      order: 1;
      &--search {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        order: 2;
        width: 100%;
      }
    }
  }
}
@media all and (max-width: 650px) {
  .nav {
    &__section {
      width: 100%;
      &--user {
        order: -1;
        border-bottom: 1px solid $kdark;
        .avatar {
          min-width: 20px;
          height: 20px;
        }
        svg {
          display: none;
        }
      }
    }
    &__item {
      width: 33.333333%;
    }
    &__link {
      width: 100%;
      svg {
        // width: 5px;
        max-width: 100%;
      }
      &--logo {
        svg {
          width: 100%;
        }
      }
    }
  }
  .heart-count:before {
    content: '♥️';
    margin-right: 1rem;
  }
}
