$black: #303030;
$width: 800px;
$purple: #262161;
$yellow: #FFC40E;
$pink: #EE7297;
$green: #93FF00;
$red: #E50714;
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
$grad: linear-gradient(90deg, #4fb3ec 0%, #6ab6c7 20%, #78c479 60%, #e5772e 85%, #e487ad 95%);
$verticalGrad: linear-gradient(0, #4fb3ec 0%, #6ab6c7 20%, #78c479 60%, #e5772e 85%, #e487ad 95%);
